%%-*- mode: erlang -*-

{cover_enabled, true}.

{erlydtl_opts, [
    {custom_filters_modules,[two_grooves_custom_filters]},
    {custom_tags_modules,[two_grooves_custom_tags]},
    {compiler_options, [debug_info]}
  ]}.

{deps, [
    {webmachine, "1.9.*", {git, "git://github.com/nyarly/webmachine", "reasonable_locations"}},
    {erlydtl, "0.7.*", {git, "git://github.com/evanmiller/erlydtl.git", "HEAD"}}
  ]}.
